@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    box-sizing: border-box;
	font-size: 15px;
	
}



@layer components {
	.badge {
	  width: 40px;	
	  height: 40px;  
	  border-radius: 50%;
	  padding-top: 10px;
	  white-space: nowrap;
	  margin-left: 1px;
	  margin-right: 10px;
	  margin-bottom: 20px;
	  margin-top: 20px;
	  cursor: pointer;
	  
	}
	/* ... */
	.gradient {
		background: rgb(18, 20, 23);
		background: linear-gradient(
			50deg,
			rgba(18, 20, 23, 0.989233193277311) 0%,
			rgba(37, 45, 55, 1) 100%
		);
	}
  }